/* 
    Created on : 28 oct. 2015, 23:49:19
    Author     : java
*/
.header-bar{
    height: 100px;
}

.header-img{
    width: 65px;
    margin-left: 74px;
}
.regBtn{
    position: fixed;
    bottom: 0;
    left: 25%;
}

.img-box{
    width: 713px;
    height: 337px;
}
.aDroite{
    text-align: right;
}
.imgCenter{
    text-align: center;
}
.form_login{
    padding: 24px 30px 15px 30px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 220px;
}
.card .card-title {
    font-size: 20px !important; 
}

.redClass{
    color: red;
}