/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 oct. 2015, 23:49:19
    Author     : java
*/
.header-bar{
    height: 100px;
}

.header-img{
    width: 65px;
    margin-left: 74px;
}
.regBtn{
    position: fixed;
    bottom: 0;
    left: 17%;
}

.img-box{
    width: 713px;
height: 337px;
}
.text-align{
    
}