<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
            http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- Login filter-->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>fr.utbm.projet_lo54.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/eformation</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Catalogue</servlet-name>
        <servlet-class>fr.utbm.projet_lo54.sevlet.Catalogue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>fr.utbm.projet_lo54.sevlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Catalogue</servlet-name>
        <url-pattern>/catalogue</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Formation</servlet-name>
        <servlet-class>fr.utbm.projet_lo54.sevlet.Formation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Formation</servlet-name>
        <url-pattern>/formation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Calendrier</servlet-name>
        <servlet-class>fr.utbm.projet_lo54.sevlet.Calendrier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Calendrier</servlet-name>
        <url-pattern>/calendrier</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Eformation</servlet-name>
        <servlet-class>fr.utbm.projet_lo54.sevlet.Eformation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Eformation</servlet-name>
        <url-pattern>/eformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
