<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <servlet>
        <servlet-name>Catalogue</servlet-name>
        <servlet-class>fr.utbm.projet_lo54.sevlet.Catalogue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Catalogue</servlet-name>
        <url-pattern>/catalogue</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Formation</servlet-name>
        <servlet-class>fr.utbm.projet_lo54.sevlet.Formation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Formation</servlet-name>
        <url-pattern>/formation</url-pattern>
    </servlet-mapping>
</web-app> 